<div>
  <header class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <a class="navbar-brand" href="#">
        <img [style.width.px]='30' src="../assets/images/garage-logo.png" alt="">
      </a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/properties']">Objekte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['/global-calendar']">Globaler Kalender</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isUserAuthenticated()">
          <span class="navbar-text">
            Welcome, {{getUserName()}}!&nbsp;&nbsp;
          </span>
        </li>
        <li class="nav-item" *ngIf="isUserAuthenticated()">
          <button type="button" class="btn btn-danger navbar-btn" [routerLink]="['/sign-in']">Logout</button>
        </li>
        <li class="nav-item" *ngIf="!isUserAuthenticated()">
          <button type="button" class="btn btn-success navbar-btn" [routerLink]="['/sign-in']">Login</button>
        </li>
      </ul>
    </nav>

  </header>

  <div class="container">
    <router-outlet></router-outlet>

    <template ngbModalContainer></template>
  </div>

</div>
