<div class="col-md-12">
  <div class="card-block">
    <h4 class="card-title">Cars</h4>
    <table class='table'>
      <thead class="thead">
        <tr>
          <th>Registration number</th>
          <th>Make</th>
          <th>Model</th>
          <th>Production year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let car of cars'>
          <td><a [routerLink]="['/car', car.registrationNumber]">{{car.registrationNumber | uppercase}}</a></td>
          <td>{{car.make}}</td>
          <td>{{car.model}}</td>
          <td>{{car.productionYear}}</td>
        </tr>
      </tbody>
    </table>
    <!-- </div> -->
  </div>
</div>
