<div *ngIf='car'>
	<div class="col-md-6">
		<div class="card-block">
			<h4 class="card-title">{{car.registrationNumber}}</h4>
			<form role="form">
				<div class="form-group">
					<label for="registrationNumber">Registration number</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></div>
						<input name="registrationNumber" type="text" class="form-control" [(ngModel)]="car.registrationNumber">
					</div>
				</div>
				<div class="form-group">
					<label for="make">Make</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></div>
						<input name="make" type="text" class="form-control" [(ngModel)]="car.make">
					</div>
				</div>
				<div class="form-group">
					<label for="model">Model</label>
					<input name="model" type="text" class="form-control" [(ngModel)]="car.model">
				</div>
				<div class="form-group">
					<label for="productionYear">Production year</label>
					<input name="productionYear" type="text" class="form-control" [(ngModel)]="car.productionYear">
				</div>
				<div class="form-group">
					<button type="button" href="#" class="btn btn-primary">Save</button>
					<button type="button" href="#" class="btn btn-secondary">Close</button>
				</div>
			</form>
		</div>
	<!-- </div> -->
</div>
